*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.facebook{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(240, 231, 245);
    height: 700px;
}
.book{
    margin-top: 200px;
    margin-left:160px ;
}
.head{
    color: rgb(33, 82, 216);
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para{
    font-size: 30px;
}
.box{
    width: 35%;
    height: 400px;
    box-shadow: 4px 4px 10px gray;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: rgb(236, 234, 234);
    
}
.btn{
    padding: 17px;
    width: 400px;
    transition: all 0s linear;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 2px;
    cursor: pointer;
}
.btn:hover{
   border-color:rgb(68, 108, 194) ;
}

.bnt{
    padding: 17px;
    width: 400px;
    transition: all 0s linear;
    margin-left: 40px;
    border-radius: 2px;
    cursor: pointer; 
}
.bnt:hover{
    border-color:rgb(68, 108, 194); 
}
.tton{
    border: none;
    color: white;
    background-color: rgb(68, 108, 194);
    padding: 17px;
    width: 400px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 20px; 
    cursor: pointer;
}
.botton{
    border: none;
    color: blue;
    box-shadow: gray;
    padding: 17px;
    width: 400px;
    margin-left: 40px;
    font-size: 15px; 
    cursor: pointer;
}
.bottun{
    border: none;
    color: white;
    background-color: rgb(103, 163, 12);
    padding: 17px;
    width: 60%;
    margin-left: 110px;
    border-radius: 6px;
    font-weight: 900;
    font-size: 20px; 
    margin-top: 20px;
    cursor: pointer;
}
.raph{
    display: flex;
    margin-left: 900px;
    margin-bottom: 150px;
}
.pass{
    font-weight: 900;
    margin-right: 3px;
}
/* Media query for mobile */
@media(max-width: 576px){
    .facebook{
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .book{
        width: 100%;
        flex-direction: column-reverse;
        margin-top: 0px;
        margin-left:0px ;
    }
    .box{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .head{
        width: 100%;
        flex-direction: column;
    }
    .box{
        width: 100%;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 40px;
    }
    .raph{
        width: 100%;
        flex-direction: column;
    }
    .btn{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .bnt{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    .tton{
      width: 100%; 
      margin-top: 15px;
      margin-left: 0px;
    }
    .bottun{
        width: 70%; 
        margin-top: 0px;
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .botton{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
}